.app-open-menu{
  transform: translateX(65%) scale(0.75);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border: 1px solid white;
  position: absolute;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
}


#app{
  transition: all 0.3s ease;
}

#menu-left{
  transition: all 0.3s ease;
}

#main-app{
  transition: all 0.3s ease;
}

.app-container{
  display: flex;
  overflow: hidden;
  background-color: #3366cc; /* bg-gobColor */
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #123376; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #0d2559; 
}